{% extends 'base.html' %}
{% block alink %}
<li>
<a href="{% url 'home' %}">Home</a>
</li>
{% endblock alink %}
{% block main %}
<main>
  <div>
    <h1>Create Account</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Create</button>
    </form>
  </div>
</main>
{% endblock main %}
