{% extends "base.html" %}
{% block alink %}
<li>
<a href="{% url 'account_list' %}">Account</a>
</li>
<li>
<a href="{% url 'category_list' %}">Category</a>
</li>
<li>
<a href="{% url "logout" %}">Logout</a>
</li>
<li>
<a href="{% url 'create_receipt' %}">Create Receipt</a>
</li>
<li>
<a href="{% url 'create_account' %}">Creat Account</a>
</li>
<li>
<a href="{% url 'create_category' %}">Create Category</a>
</li>
{% endblock alink%}
{% block main %}
<main>
  <h1>My Receipts</h1>
  <table>
    <thead>
      <tr>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      {% for receipt in receipt_list %}
      <tr>
        <td>{{ receipt.vendor }}</td>
        <td>{{ receipt.total }}</td>
        <td>{{ receipt.tax }}</td>
        <td>{{ receipt.date|date:"m/d/y" }}</td>
        <td>{{ receipt.category }}</td>
        <td>{{ receipt.account }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock main %}
